# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Create a table containing Data Science Tools
* Create an arithmetic expression
* Create a conversion expression

Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. SciPy
3. NumPy

| Data Science Tools    | 
| --------------------- | 
| Jupyter Notebook      |
| Visual Studio         |
| Google Colab          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = min // 60
print(hours)

3

## Author
Lionel Landucci